/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile Styles */
#app {
    padding: 20px;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.page h1{
    font-size: 24px;
}

#mark{
    font-size: 20px;
}

.head {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    width: 100%;
    max-width: 400px;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.list li{
    text-align: left;
}

.opt{
    text-align: left;
}


/* Desktop Styles */
@media (min-width: 768px) {
    .head {
        font-size: 32px;
    }

    form {
        width: 50%;
    }

    button {
        width: auto;
        padding: 10px 20px;
    }
}
